token.txt
.idea
logs_chat.txt
andr.txt
mat.txt
pozdravlenie.txt
bot_chat.err.log
bot_chat.out.log
aquarius.txt
aries.txt
cancer.txt
capricorn.txt
gemini.txt
leo.txt
libra.txt
pisces.txt
sagittarius.txt
scorpio.txt
taurus.txt
virgo.txt
pidor_today.txt
pidors.txt
stat_mat.py
mat.txt
