word_in_week.txt
token.txt
.idea
logs_chat.txt
andr.txt
mat.txt
pozdravlenie.txt
bot_chat.err.log
bot_chat.out.log
aquarius.txt
aries.txt
cancer.txt
capricorn.txt
gemini.txt
leo.txt
libra.txt
pisces.txt
sagittarius.txt
scorpio.txt
taurus.txt
virgo.txt
pidor_today.txt
pidors.txt
stat_mat.py
mat.txt
zametki.txt
stat_mat.py
pidors.txt
pidor_today.txt
stat.txt
token_2.txt
token_3.txt
logs_chat.txt
old_func.txt
word_in_week.txt